
header {
	width: 100%;
	line-height: 30px;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.25em 0;
	text-align: center;

    background: rgba(84,83,82,1);
    background: -moz-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,83,82,1)), color-stop(18%, rgba(150,143,141,1)), color-stop(51%, rgba(209,207,207,1)), color-stop(83%, rgba(145,142,140,1)), color-stop(100%, rgba(122,116,116,1)));
    background: -webkit-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -o-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -ms-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: linear-gradient(to right, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);

    border: 0.2em solid #333333;
    border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
}

body {
	width: 96%;
	margin: 0.5% 2% 0% 2%;
	padding: 0.5em 0 0em 0;
	text-align: center;
	background-color: #555555;
}

aside {
	margin: 2em 0.2em 2em 0.2em;
    padding-bottom: 0.3em;
	float: right;
    position: fixed;
    top:25%;
    left:80%;
	width:18%;
    border: 0.2em solid #333333 ;
	background-color: #bbbbbb;
    box-shadow: 0.3em 0.3em 0.2em #555555;

     border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;

    background: rgba(84,83,82,1);
    background: -moz-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,83,82,1)), color-stop(18%, rgba(150,143,141,1)), color-stop(51%, rgba(209,207,207,1)), color-stop(83%, rgba(145,142,140,1)), color-stop(100%, rgba(122,116,116,1)));
    background: -webkit-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -o-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -ms-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: linear-gradient(to right, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);

}

.link {
  width:88%;
  padding: 1em 0.1em 1em 0.1em;
  border: 0.2em solid #333333;
  box-shadow: 0.3em 0.3em 0.2em #888888;
  margin: 1em auto 1em auto;
  background-color: #ffffff;
  border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
}

a {
    font-weight:bold;
   color: #000000;
   text-decoration: none;
}

nav {
	width: 78%;
	font-size: 1.143em;
	line-height: 30px;
	margin: 0em 0em 0.5em 0em;
	padding: 0em 0em 0em 1em;
	float: left;
    border: 0.2em solid #333333;
    text-align: center;
    background-color: #bbbbbb;

    border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;

    background: rgba(84,83,82,1);
    background: -moz-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,83,82,1)), color-stop(18%, rgba(150,143,141,1)), color-stop(51%, rgba(209,207,207,1)), color-stop(83%, rgba(145,142,140,1)), color-stop(100%, rgba(122,116,116,1)));
    background: -webkit-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -o-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -ms-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: linear-gradient(to right, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);

}

h2 {
  	padding: 0.3em 0em 0em 1em;
    margin: 0em 0em 0em 0em;
}

.navlink {
    float: left;
    width: 30%;
    padding:  0.1em 0.1em  0.1em 0.1em;
  border: 0.2em solid #555555;
  margin: 0.7em 1% 1em 1%;
  background-color: #FFFFFF;
  border-radius:50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-ms-border-radius:50px;
	-o-border-radius:50px;
}



#Posts {
	float: left;
    width:80%;
	font-size: 0.8em;
	margin: 0em auto 2em auto;
    padding: 0em 0 1em 0;
	text-align: center;
	background-color: #555555;
}

article {
	width: 90%;
	margin: 2em auto 1em auto;
	padding: 1em 2em 2em 2em;
	text-align: center;
	background-color: #bbbbbb;

    border: 0.3em solid #333333;
    border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;

    background: rgba(84,83,82,1);
    background: -moz-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,83,82,1)), color-stop(18%, rgba(150,143,141,1)), color-stop(51%, rgba(209,207,207,1)), color-stop(83%, rgba(145,142,140,1)), color-stop(100%, rgba(122,116,116,1)));
    background: -webkit-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -o-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: -ms-linear-gradient(left, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);
    background: linear-gradient(to right, rgba(84,83,82,1) 0%, rgba(150,143,141,1) 18%, rgba(209,207,207,1) 51%, rgba(145,142,140,1) 83%, rgba(122,116,116,1) 100%);

}

#address {
  margin:auto;
  padding-bottom: 2em;
}


#map-canvas {
  height: 20em;
  width: 90%;
  margin:2em auto 2em auto;
  min-height:200px;
  min-width:100px;
  border: 0.3em solid #333333;
  padding:1em;
     border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;

}

#location {
   margin:1em;
}

#addressTable {
  margin:auto;
  padding-top: 1em;
  padding-bottom: 2em;
}

#defaultVideo {
    margin:auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
    width:320px;
    height:240px;
}

#videoOptions {
    margin:auto;
    padding-bottom: 0.5em;

}
.lastCol{
     margin:auto;
}

#videoPreview{
    margin:auto;
    padding-top: 1em;
    padding-bottom: 0.5em;

}

#thirdPostSect2{
     padding-top: 3em;
}

#bubbleVideo {
position:relative;
  background-color: #333333;
  width:350px;
  height:350px;
  margin: 30px;
  z-index:1;
  box-shadow: 10px 10px 5px #888888;
     border-radius:350px;
	-webkit-border-radius:350px;
	-moz-border-radius:350px;
	-ms-border-radius:350px;
	-o-border-radius:350px;
}

#jukeboxText{
    padding-bottom: 0.5em;
}

#jukeboxButtons{
    margin:auto;
    padding-bottom: 0.5em;
}

footer{
    clear: both;
    width: 100%;
    background-color: #FFFFFF;
    padding: 1% 0 1% 0;
    margin-top: 5%;
    color: #DDDDDD;

    background: rgba(87,87,87,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(87,87,87,1) 0%, rgba(87,87,87,1) 1%, rgba(66,66,65,1) 35%, rgba(41,40,41,1) 69%, rgba(3,3,3,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(87,87,87,1)), color-stop(1%, rgba(87,87,87,1)), color-stop(35%, rgba(66,66,65,1)), color-stop(69%, rgba(41,40,41,1)), color-stop(100%, rgba(3,3,3,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(87,87,87,1) 0%, rgba(87,87,87,1) 1%, rgba(66,66,65,1) 35%, rgba(41,40,41,1) 69%, rgba(3,3,3,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(87,87,87,1) 0%, rgba(87,87,87,1) 1%, rgba(66,66,65,1) 35%, rgba(41,40,41,1) 69%, rgba(3,3,3,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(87,87,87,1) 0%, rgba(87,87,87,1) 1%, rgba(66,66,65,1) 35%, rgba(41,40,41,1) 69%, rgba(3,3,3,1) 100%);
    background: radial-gradient(ellipse at center, rgba(87,87,87,1) 0%, rgba(87,87,87,1) 1%, rgba(66,66,65,1) 35%, rgba(41,40,41,1) 69%, rgba(3,3,3,1) 100%);

    border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;

}

.emailContact{
    font-weight:normal;
    font-style:italic;
   color: #DDDDDD;
   text-decoration: none;
}


