@media screen and (max-width: 600px){


	h1 {
		font-size: 20;
	}
	h4 {
		font-size: 14;
	}


}
.redArea {
	 background: rgba(240,40,40,1);
	 display: inline-block;
	 width: 5em;
	 height:0.15em;
	 margin: 0 0 0 0.7em;
	 padding: 0 0 0 0.5em;
	 
	 border: 0.08em solid #333333;
     border-radius:50em;
	-webkit-border-radius:50em;
	-moz-border-radius:50em;
	-ms-border-radius:50em;
	-o-border-radius:50em;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.greenArea {
	 background: rgba(40,240,40,1);
	 display: inline-block;
	 width: 5em;
	 height:0.15em;
	 margin: 0 0 0 0.7em;
	 padding: 0 0 0 0.5em;
	 
	 border: 0.08em solid #333333;
     border-radius:50em;
	-webkit-border-radius:50em;
	-moz-border-radius:50em;
	-ms-border-radius:50em;
	-o-border-radius:50em;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.blueArea {
	 background: rgba(40,40,240,1);
	 display: inline-block;
	 width: 5em;
	 height:0.15em;
	 margin: 0 0 0 0.7em;
	 padding: 0 0 0 0.5em;
	 
	 border: 0.08em solid #333333;
     border-radius:50em;
	-webkit-border-radius:50em;
	-moz-border-radius:50em;
	-ms-border-radius:50em;
	-o-border-radius:50em;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.yellowArea {
	 background: rgba(240,140,40,1);
	 display: inline-block;
	 width: 5em;
	 height:0.15em;
	 margin: 0 0 0 0.7em;
	 padding: 0 0 0 0.5em;
	 
	 border: 0.08em solid #333333;
     border-radius:50em;
	-webkit-border-radius:50em;
	-moz-border-radius:50em;
	-ms-border-radius:50em;
	-o-border-radius:50em;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}


form {
    display: inline-block;
    text-align: center;
	line-height:200%
}

header {
	width: 30%;
	line-height: auto;
	margin: auto;
	margin-bottom: 2em;
	padding: 0.5em 0 0.25em 0;
	text-align: center;
	
	background: rgba(12,152,245,1);
	background: -moz-linear-gradient(left, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,152,245,1)), color-stop(0%, rgba(25,49,207,1)), color-stop(33%, rgba(93,164,240,1)), color-stop(67%, rgba(93,164,240,1)), color-stop(100%, rgba(25,49,207,1)));
	background: -webkit-linear-gradient(left, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	background: -o-linear-gradient(left, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	background: -ms-linear-gradient(left, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	background: linear-gradient(to right, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c98f5', endColorstr='#1931cf', GradientType=1 );
		
    border: 0.2em solid #333333;
    border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

body {
	width: 96%;
	margin: auto;
	padding: 0.5em 0 0em 0;
	text-align: center;
	
	background: rgba(98,117,214,1);
	background: -moz-linear-gradient(top, rgba(98,117,214,1) 0%, rgba(67,85,176,1) 0%, rgba(179,220,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(98,117,214,1)), color-stop(0%, rgba(67,85,176,1)), color-stop(100%, rgba(179,220,237,1)));
	background: -webkit-linear-gradient(top, rgba(98,117,214,1) 0%, rgba(67,85,176,1) 0%, rgba(179,220,237,1) 100%);
	background: -o-linear-gradient(top, rgba(98,117,214,1) 0%, rgba(67,85,176,1) 0%, rgba(179,220,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(98,117,214,1) 0%, rgba(67,85,176,1) 0%, rgba(179,220,237,1) 100%);
	background: linear-gradient(to bottom, rgba(98,117,214,1) 0%, rgba(67,85,176,1) 0%, rgba(179,220,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6275d6', endColorstr='#b3dced', GradientType=0 );

	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

aside {
	float: right;
    position: absolute;
    top:5%;
    left:80%;
	width:15%;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

}

a {
    font-weight:bold;
   color: #000000;
   text-decoration: none;
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

h2 {
  	padding: 0.3em 0em 0em 1em;
    margin: 0em 0em 0em 0em;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

article {
	width: 90%;
	margin: 2em auto 1em auto;
	padding: 1em 2em 2em 2em;
	text-align: center;
	background-color: #bbbbbb;

    border: 0.3em solid #333333;
    border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;

	background: rgba(25,49,207,1);
	background: -moz-linear-gradient(left, rgba(25,49,207,1) 0%, rgba(29,151,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(29,151,207,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,49,207,1)), color-stop(0%, rgba(29,151,207,1)), color-stop(33%, rgba(93,164,240,1)), color-stop(67%, rgba(93,164,240,1)), color-stop(100%, rgba(29,151,207,1)));
	background: -webkit-linear-gradient(left, rgba(25,49,207,1) 0%, rgba(29,151,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(29,151,207,1) 100%);
	background: -o-linear-gradient(left, rgba(25,49,207,1) 0%, rgba(29,151,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(29,151,207,1) 100%);
	background: -ms-linear-gradient(left, rgba(25,49,207,1) 0%, rgba(29,151,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(29,151,207,1) 100%);
	background: linear-gradient(to right, rgba(25,49,207,1) 0%, rgba(29,151,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(29,151,207,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1931cf', endColorstr='#1d97cf', GradientType=1 );
	
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#map-canvas {
  height: 20em;
  width: 90%;
  margin:2em auto 2em auto;
  min-height:200px;
  min-width:100px;
  border: 0.3em solid #333333;
  padding:1em;
     border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	

}

footer{
    clear: both;
    width: 100%;
    background-color: #FFFFFF;
    padding: 1% 0 1% 0;
    margin-top: 5%;
    color: #DDDDDD;

	background: rgba(12,152,245,1);
	background: -moz-linear-gradient(left, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,152,245,1)), color-stop(0%, rgba(25,49,207,1)), color-stop(33%, rgba(93,164,240,1)), color-stop(67%, rgba(93,164,240,1)), color-stop(100%, rgba(25,49,207,1)));
	background: -webkit-linear-gradient(left, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	background: -o-linear-gradient(left, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	background: -ms-linear-gradient(left, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	background: linear-gradient(to right, rgba(12,152,245,1) 0%, rgba(25,49,207,1) 0%, rgba(93,164,240,1) 33%, rgba(93,164,240,1) 67%, rgba(25,49,207,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c98f5', endColorstr='#1931cf', GradientType=1 );

    border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

}

.emailContact{
    font-weight:normal;
    font-style:italic;
   color: #DDDDDD;
   text-decoration: none;
   font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.buttonClass {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buttonClass:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


